.visibleDiv {
    display: none;
}

.sectionForm {
    width: 80%;
    background-color: #fff;
    margin: 0 auto 15px auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding-bottom: 10px;
    @media (max-width: 1360px) {
        width: 90%;
    }
    .sectionForm__Form {
        background-color: #fff;
        padding-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        input {
            width: 100%;
            height: 20px;
            padding: 5px 0;
            margin: 0;
            font-size: 16px;
            text-align: center;
            background-color: #f4f4f4;
            border-radius: 5px;
            border: 1px solid;
        }
        label {
            display: block;
            width: 100%;
            padding: 0 0 5px 10px;
            font-size: 16px;
            text-align: left;
        }
    }
}

.sectionForm__Form__DoubleSame {
    display: grid;
    width: 90%;
    margin: 20px auto 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    @media (max-width: 850px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

input[type="file"] {
    display: none;
}

.fileDropDiv label {
    padding: 0!important;
}

.customFileUpload {
    width: 100%;
    height: 50px;
    padding: 5px 0!important;
    margin: 0!important;
    font-size: 16px;
    text-align: center;
    background-color:bisque;
    border-radius: 5px;
    border: 2px dotted #000;
    cursor: pointer;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.buttonActive {
    height: 64px!important;
    background-color: #f7c33e!important;
    font-weight: bold;
    cursor: pointer;
    &:active {
        background-color: #dbad38!important;
    }
}
.buttonSending {
    height: 64px!important;
    background: url(../../images/navy_for-light_bg.webp) center center no-repeat;
    background-size: auto 100%;
}

.linkActive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    background-color:gray!important;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    color: lightgray;
}

.visibility {
    display: none;
}

.errorText {
    display: block;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
    color: darkred;
}