.container {
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}

.visibleDiv {
    display: none;
}

.image {
    width: 10%;
}

.container p {
    padding: 20px 10px 20px 10px;
    margin: 0;
    font-size: 30px;
    color: green;
}

.container p.warning {
    padding-top: 0;
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
}

.container span {
    display: block;
    padding-top: 30px;
    font-weight: bold;
}